nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background-color: #232222;
  top: 0%;
  z-index: 10;
}
  nav h1 {
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(159, 159, 159);
  }
  nav h1:hover{
    transform: translate3d(1ch, 0.1in, 1em);
  }
nav main {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
nav main .link {
      color: rgb(159, 159, 159);
      margin: 1rem;
      text-decoration: none;
      transition: 0.5s;
    }
      nav main .link:hover {
        color: #fff;
        font-weight: 700;
        transform: scale(1.5);
      }
    
  
